* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  overflow-x: hidden !important;
  background-color: #fff;
}
@media (max-width: 675px) {
  body {
    font-size: 18px;
  }
}
@media (max-width: 400px) {
  body {
    line-height: 1.1;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #39AD44;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.container {
  width: 98%;
  max-width: 1350px;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 64px;
  line-height: 120%;
  font-weight: 700 !important;
  margin: 50px auto;
  margin-bottom: 90px;
  color: #3f3f4e;
}
@media (max-width: 675px) {
  .title {
    font-size: 50px;
    margin-bottom: 60px;
  }
}
@media (max-width: 445px) {
  .title {
    font-size: 40px;
  }
}
@media (max-width: 400px) {
  .title {
    font-size: 35px;
  }
}

.text {
  font-size: 20px;
  text-align: center;
  margin-top: -50px;
  margin-bottom: 50px;
}

.blue {
  color: #31c1f9;
}

.green {
  color: #7ee000;
}

.btn-container {
  text-align: center;
}
.btn-container .btn-green {
  background-color: #7ee000;
  border: 1px solid #7ee000;
  border-radius: 10px;
  padding: 32px 90px;
  font-weight: 700;
  font-size: 22px;
  line-height: 130%;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}
@media (max-width: 576px) {
  .btn-container .btn-green {
    padding: 12px 40px;
    font-size: 18px;
  }
}
.btn-container .btn-green:hover {
  border-color: #fff;
  background-color: rgba(127, 224, 0, 0.7);
}

.accordion {
  border-radius: 30px;
  overflow: hidden;
}
.accordion .accordion-item button.accordion-button {
  padding: 28px 30px;
  background: #f3f3f3;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.accordion .accordion-item button.accordion-button:focus {
  box-shadow: none;
}
.accordion .accordion-item button.accordion-button span.plus {
  margin-right: 20px;
  position: relative;
  display: grid;
  place-items: center;
}
@media (max-width: 500px) {
  .accordion .accordion-item button.accordion-button span.plus {
    margin-right: 0;
  }
}
.accordion .accordion-item button.accordion-button span.plus .row {
  position: absolute;
  background: #31c1f9;
  width: 30px;
  height: 4px;
}
.accordion .accordion-item button.accordion-button span.plus .col {
  position: absolute;
  background: #31c1f9;
  width: 30px;
  height: 4px;
  transform: rotate(90deg);
}
.accordion .accordion-item button.accordion-button:not(.collapsed) {
  background: #31c1f9 !important;
  border: none !important;
  color: #000;
}
.accordion .accordion-item button.accordion-button:not(.collapsed) span.plus .row {
  z-index: 122;
  background: #fff;
}
.accordion .accordion-item button.accordion-button:not(.collapsed) span.plus .col {
  display: none;
}
.accordion .accordion-item button.accordion-button::after {
  all: unset;
}
.accordion .accordion-item:nth-child(even) button.accordion-button {
  padding: 28px 30px;
  background: #f8f8f8;
}

.pb-btn {
  width: fit-content;
  background-color: #7ee000;
  border: 1px solid #7ee000;
  border-radius: 10px;
  padding: 32px 90px;
  cursor: pointer;
  font-weight: 700;
  font-size: 22px;
  line-height: 130%;
  text-transform: uppercase;
  color: #fff;
  transition: 0.5s;
}
@media (max-width: 935px) {
  .pb-btn {
    padding: 20px 70px;
    font-size: 18px;
  }
}
@media (max-width: 935px) {
  .pb-btn {
    padding: 20px 60px;
    font-size: 16px;
  }
}

.btn-hov-eff {
  width: fit-content;
  background-color: #7ee000;
  border: 1px solid #7ee000;
  border-radius: 10px;
  padding: 32px 90px;
  cursor: pointer;
  font-weight: 700;
  font-size: 22px;
  line-height: 130%;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  z-index: 1;
  transition: 1.5s;
  user-select: none;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  overflow: hidden;
}
@media (max-width: 950px) {
  .btn-hov-eff {
    line-height: 110%;
    padding: 16px 45px;
  }
}
.btn-hov-eff:hover {
  border-color: #fff;
  color: #fff;
}
.btn-hov-eff:hover .blue-btn {
  top: 0;
  transform: scale(2);
}
.btn-hov-eff .blue-btn {
  width: 25%;
  background: #31c1f9;
  position: absolute;
  height: 100%;
  z-index: -1;
  top: 100%;
  transition: 0.4s;
  border-radius: 50%;
}
.btn-hov-eff .btn1 {
  left: 0;
}
.btn-hov-eff .btn2 {
  left: 25%;
  transition-delay: 0.1s;
}
.btn-hov-eff .btn3 {
  left: 50%;
  transition-delay: 0.2s;
}
.btn-hov-eff .btn4 {
  left: 75%;
  transition-delay: 0.3s;
}

.drop-close {
  position: fixed;
  z-index: 38987;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
}

header {
  z-index: 100;
  position: sticky;
  top: 0;
}
header .header-container {
  padding: 0 90px;
}
@media (max-width: 850px) {
  header .header-container {
    padding: 0 50px;
  }
}
@media (max-width: 500px) {
  header .header-container {
    padding: 0 20px;
  }
}
@media (max-width: 400px) {
  header .header-container {
    padding: 0;
  }
}
header .header-top {
  border-bottom: 1px solid rgb(211, 202, 202);
  font-size: 18px;
  padding: 15px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}
@media (max-width: 770px) {
  header .header-top {
    justify-content: space-between;
  }
}
@media (max-width: 1135px) {
  header .header-top {
    font-size: 16px;
  }
}
header .header-top .logo {
  margin-right: auto;
}
@media (max-width: 770px) {
  header .header-top .logo {
    margin: 0;
  }
}
header .header-top .location {
  margin-right: auto;
}
@media (max-width: 968px) {
  header .header-top .location {
    order: 4;
    margin: auto;
  }
}
@media (max-width: 770px) {
  header .header-top .location {
    display: none;
  }
}
@media (max-width: 768px) {
  header .header-top .email {
    display: none;
  }
}
header .header-top .contact {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
}
header .header-top .contact a {
  font-weight: bolder;
  font-size: 18px;
  color: #303030;
  font-family: "Inter";
  padding: 0 5px;
}
header .header-top .contact a:hover {
  color: inherit;
}
@media (max-width: 576px) {
  header .header-top .contact a {
    display: none;
  }
}
header .header-top .contact a.phone-icon {
  display: none;
  padding: 10px 16px;
  font-size: 20px;
  border-radius: 170px;
  color: #fff;
  background: #39AD44;
}
@media (max-width: 576px) {
  header .header-top .contact a.phone-icon {
    display: block;
  }
}
header .header-top .contact a.button {
  background: #ECFFEE;
  color: #39AD44;
  border-radius: 20px;
  font-size: 14px;
  border: none;
}
header .header-top .contact a.button:hover {
  box-shadow: 0px 0px 12px rgb(211, 202, 202);
}
@media (max-width: 576px) {
  header .header-top .contact a.button {
    display: none;
  }
}
@media (max-width: 1235px) {
  header .header-top .contact {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 968px) {
  header .header-top .contact {
    display: block;
  }
}
@media (max-width: 730px) {
  header .header-top .contact {
    display: flex;
  }
}
header .header-top .drop-menu {
  display: none;
}
header .header-top .drop-menu button {
  all: unset;
  width: 25px;
  height: 32px;
  display: grid;
  place-items: center;
  padding: 7px 14px;
  font-size: 20px;
  border-radius: 170px;
  color: #fff;
  background: #39AD44;
}
@media (max-width: 768px) {
  header .header-top .drop-menu {
    display: block;
  }
}
header .header-bottom {
  border-bottom: 1px solid rgb(211, 202, 202);
  padding: 5px 0;
}
@media (max-width: 768px) {
  header .header-bottom {
    border-bottom: none;
  }
}
header .header-bottom nav ul {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  transition: 0.6s;
}
@media (max-width: 768px) {
  header .header-bottom nav {
    display: none;
  }
}

.navbar-nav-container {
  padding: 0;
  position: sticky;
  top: 97px;
  z-index: 99;
  background: #fff;
  display: none;
}
@media (max-width: 768px) {
  .navbar-nav-container {
    display: block;
  }
}
.navbar-nav-container .navbar-nav .mini-nav li {
  font-size: 16px;
  padding: 5px 0;
}
.navbar-nav-container .navbar-nav .mini-nav li a {
  border-bottom: 1px solid #f2f2f2;
  padding: 5px 0;
}

footer {
  color: #fff;
  background-color: #222;
  padding: 50px 0 0 0;
  margin-top: 100px;
}
footer li {
  font-size: 14px;
  color: #828181;
  font-family: "Roboto Mono", monospace;
  margin-bottom: 20px;
  position: relative;
}
footer li a::before {
  content: " > ";
  position: absolute;
  right: 105%;
}
footer .white-title {
  font-size: 22px;
  line-height: 24px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  font-family: "Oswald", sans-serif;
  height: 40px;
}
@media (max-width: 768) {
  footer .white-title {
    padding-bottom: 0px;
    font-size: 20px;
    margin-bottom: 0px;
    line-height: 18px !important;
  }
}
@media (max-width: 576px) {
  footer .white-title {
    font-size: 18px;
    padding: 0;
    text-align: center;
  }
}
footer .contact-info .contact-info-phones, footer .contact-info .contact-info-mail, footer .contact-info .contact-info-map, footer .contact-info .contact-info-time {
  font-size: 14px;
  color: #828181;
  margin-bottom: 20px;
}
footer .contact-info .contact-info-phones i, footer .contact-info .contact-info-mail i, footer .contact-info .contact-info-map i, footer .contact-info .contact-info-time i {
  padding-right: 10px;
}
footer .contact-info p, footer .contact-info a {
  font-family: "Roboto Mono" !important;
}
footer .contact-info .contact-info-phones {
  font-size: 18px;
}
footer .contact-info p {
  display: inline-block;
}
footer .developer p {
  font-size: 14px;
  color: #828181;
}
footer .developer p a {
  font-size: 15px;
}

.modal {
  z-index: 998979;
}
.modal .modal-content .close-bg {
  background: #31c1f9;
  margin-left: auto;
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
  margin-right: 15px;
  margin-top: 10px;
  border-radius: 40px;
  opacity: 0.8;
  z-index: 87;
}
.modal .modal-content .close-bg:hover {
  opacity: 1;
}
.modal .modal-content .close-bg .btn-close {
  font-size: 14px;
  color: white;
}
.modal .modal-content .modal-body {
  padding-top: 0;
  margin-top: -25px;
}
.modal .modal-content .modal-body .input-text {
  all: unset;
  display: inline-block;
  width: 90%;
  border: 1px solid #f2f2f2;
  padding: 5px 10px;
  border-radius: 5px;
  background: #f9f9f9;
  margin: 10px auto;
}
.modal .modal-content .modal-body .input-text::-webkit-input-placeholder {
  font-size: 13px;
  opacity: 0.95;
}
.modal .modal-content .modal-body .input-text:focus {
  border-color: #31c1f9;
}
.modal .modal-content .modal-body .checkbox-input {
  display: inline;
}
.modal .modal-content .modal-body label {
  display: inline-block;
  font-size: 10px;
  margin-left: 20px;
  margin-top: -25px;
}
.modal .modal-content .modal-body button.btn {
  background-color: #7ee000;
  border: 1px solid #7ee000;
  border-radius: 10px;
  padding: 25px 70px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  transition: 0.5s;
  margin: 20px auto;
}
.modal .modal-content .modal-body button.btn:hover {
  background: #31c1f9;
  border-color: #f2f2f2;
}
.modal .modal-content .btn-prinimayu {
  background-color: #7ee000;
  border: 1px solid #7ee000;
  border-radius: 10px;
  padding: 20px 60px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  transition: 0.5s;
  margin: 20px auto;
}
.modal .modal-content .btn-prinimayu:hover {
  background: #31c1f9;
  border-color: #f2f2f2;
}
.modal .modal-content .for-bg {
  background-color: #fff;
  color: #000;
  border-color: #f2f2f2;
}
.modal .modal-content .for-bg:hover {
  background: #fff;
  border-color: #7ee000;
}

.modal-calling-con {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  place-items: center;
  background: rgba(0, 0, 0, 0.52);
  z-index: 9292929;
  display: none;
}
.modal-calling-con .modal-calling {
  width: 650px;
  height: 400px;
  background: white;
  padding: 50px;
  border: 1px solid #7ee000;
  border-radius: 20px;
  overflow-y: auto;
}
@media (max-width: 757px) {
  .modal-calling-con .modal-calling {
    width: 90%;
    padding: 20px;
    height: auto;
  }
}
@media (max-width: 450px) {
  .modal-calling-con .modal-calling {
    width: 98%;
    height: auto;
  }
}
.modal-calling-con .modal-calling .close-calling {
  all: unset;
  background: #31c1f9;
  transform: rotateZ(45deg) scale(1.4);
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
  font-size: 22px !important;
  border-radius: 30px;
  color: #fff;
  margin-left: auto;
}
.modal-calling-con .modal-calling .close-calling:hover {
  opacity: 0.9;
  cursor: pointer;
}
.modal-calling-con .modal-calling .inputs {
  padding: 15px 0;
}
.modal-calling-con .modal-calling .inputs input {
  border: 1px solid rgb(211, 202, 202);
  border-radius: 5px;
  background: #fafafa;
  padding: 3px 5px;
}
@media (max-width: 575px) {
  .modal-calling-con .modal-calling .inputs input {
    width: 20%;
  }
}
.modal-calling-con .modal-calling .inputs .btn-call {
  all: unset;
  padding: 3px 10px;
  border-radius: 5px;
  background: #7ee000;
  border: 1px solid rgb(211, 202, 202);
  color: #fff;
  transition: 0.7s;
}
@media (max-width: 575px) {
  .modal-calling-con .modal-calling .inputs .btn-call {
    padding: 2px 5px;
    font-size: 15px;
  }
}
.modal-calling-con .modal-calling .inputs .btn-call:hover {
  background: #31c1f9;
}
.modal-calling-con .modal-calling .inputs h4 {
  display: inline-block;
}
@media (max-width: 575px) {
  .modal-calling-con .modal-calling .inputs h4 {
    font-size: 24px;
  }
}
.modal-calling-con .modal-calling p {
  font-size: 18px;
  margin: 0;
  padding: 0;
}
@media (max-width: 550px) {
  .modal-calling-con .modal-calling p {
    font-size: 15px;
  }
}

section#showcase .show-container {
  display: flex;
}
section#showcase .show-container .show-left {
  position: relative;
  width: 50%;
}
@media (max-width: 950px) {
  section#showcase .show-container .show-left {
    width: 65%;
  }
}
@media (max-width: 500px) {
  section#showcase .show-container .show-left {
    width: 100%;
  }
  section#showcase .show-container .show-left .bg-img-blur {
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    background-image: url("https://cleanfield.ru/art/pic_1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    filter: blur(8px);
  }
}
section#showcase .show-container .show-left h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 2px;
}
@media (max-width: 950px) {
  section#showcase .show-container .show-left h1 {
    font-size: 45px;
  }
}
@media (max-width: 500px) {
  section#showcase .show-container .show-left h1 {
    font-size: 37px;
  }
}
@media (max-width: 340px) {
  section#showcase .show-container .show-left h1 {
    font-size: 33px;
  }
}
@media (max-width: 320px) {
  section#showcase .show-container .show-left h1 {
    font-size: 30px;
  }
}
section#showcase .show-container .show-left p {
  max-width: 484px;
  width: 100%;
  font-size: 24px;
  line-height: 140%;
  padding-bottom: 32px;
}
section#showcase .show-container .show-right {
  z-index: -2;
}
@media (max-width: 500px) {
  section#showcase .show-container .show-right {
    display: none;
  }
}

section#second .container {
  padding: 0;
}
section#second .tc-item-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid rgb(211, 202, 202);
  border-radius: 30px;
  padding: 20px;
  grid-gap: 10px;
  justify-content: space-around;
}
@media (max-width: 1200px) {
  section#second .tc-item-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 580px) {
  section#second .tc-item-wrapper {
    grid-template-columns: 1fr;
  }
}
section#second .tc-item-wrapper .tc-item {
  display: flex;
  justify-content: center;
}
section#second .tc-item-wrapper .tc-item p {
  padding-left: 20px;
  width: 250px;
}

section#n-usluga .n-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media (max-width: 820px) {
  section#n-usluga .n-items {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}
@media (max-width: 510px) {
  section#n-usluga .n-items {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
}
section#n-usluga .n-items .n-item {
  border: 1px solid #dcdcdc;
  border-radius: 30px;
  padding: 20px;
  transition: 0.4s;
}
section#n-usluga .n-items .n-item:hover {
  border-color: #7ee000;
}
section#n-usluga .n-items .n-item img {
  width: 100%;
}
section#n-usluga .n-items .n-item p {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 22px;
}
section#n-usluga .n-items .n-item a {
  display: block;
  padding: 16px 32px;
  text-align: center;
  border: 1px solid #7ee000;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  color: #7ee000;
  font-size: 20px;
  position: relative;
  overflow: hidden;
  transition: 0.8s;
}
@media (max-width: 820px) {
  section#n-usluga .n-items .n-item a {
    padding: 8px 16px;
    font-size: 18px;
  }
}
@media (max-width: 820px) {
  section#n-usluga .n-items .n-item a {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 100%;
  }
}
section#n-usluga .n-items .n-item a span {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 50%;
  left: 50%;
  background: #7ee000;
  transition: 0.8s;
  z-index: -1;
  border-radius: 10px;
}
section#n-usluga .n-items .n-item a:hover {
  color: #fff;
}
section#n-usluga .n-items .n-item a:hover span {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

section#podgotovim {
  background: #31c1f9;
  margin: 50px 0;
  padding-bottom: 30px;
}
section#podgotovim .p-wrapper {
  display: grid;
  grid-template-columns: 3fr 2fr;
}
@media (max-width: 800px) {
  section#podgotovim .p-wrapper {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}
section#podgotovim .p-wrapper .left h2 {
  padding: 80px 0 50px;
  font-size: 45px;
  color: #fff;
  margin: 0;
  line-height: 58.51px;
  font-weight: 600;
  font-family: system-ui, -apple-system, "Segoe UI", sans-serif;
}
@media (max-width: 800px) {
  section#podgotovim .p-wrapper .left h2 {
    text-align: center;
    padding: 40px 0 20px;
  }
}
@media (max-width: 968px) {
  section#podgotovim .p-wrapper .left h2 {
    font-size: 40px;
    line-height: 50px;
  }
}
@media (max-width: 800px) {
  section#podgotovim .p-wrapper .left {
    text-align: center;
  }
  section#podgotovim .p-wrapper .left a {
    display: block;
    margin: 20px auto;
  }
}
section#podgotovim .p-wrapper .right {
  text-align: right;
}
section#podgotovim .p-wrapper .right img {
  max-height: 470px;
  max-width: 490px;
}
@media (max-width: 968px) {
  section#podgotovim .p-wrapper .right img {
    max-height: 430px;
    max-width: 440px;
  }
}
@media (max-width: 868px) {
  section#podgotovim .p-wrapper .right img {
    max-height: 390px;
    max-width: 400px;
  }
}
@media (max-width: 800px) {
  section#podgotovim .p-wrapper .right {
    display: none;
    width: 0px;
  }
}

section#why_cleanfield .why-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 100px);
}
@media (max-width: 1435px) {
  section#why_cleanfield .why-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 100px);
    grid-auto-rows: minmax(auto, auto) !important;
  }
}
@media (max-width: 1035px) {
  section#why_cleanfield .why-grid {
    display: flex;
    flex-direction: column;
    grid-auto-rows: minmax(auto, auto) !important;
  }
}
section#why_cleanfield .why-grid .why-card {
  border-radius: 20px;
  padding: 10px 20px;
}
@media (max-width: 1035px) {
  section#why_cleanfield .why-grid .why-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 200px;
  }
  section#why_cleanfield .why-grid .why-card img {
    max-width: 200px;
    max-height: 200px;
  }
}
@media (max-width: 576px) {
  section#why_cleanfield .why-grid .why-card img {
    max-width: 100px;
    max-height: 100px;
  }
}
@media (max-width: 430px) {
  section#why_cleanfield .why-grid .why-card {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
}
section#why_cleanfield .why-grid .bg-blue {
  background: #31c1f9;
}
section#why_cleanfield .why-grid .bg-green {
  background: #7ee000;
}
section#why_cleanfield .why-grid .one {
  grid-column: 1/3;
  grid-row: 1/3;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media (max-width: 1435px) {
  section#why_cleanfield .why-grid .one {
    grid-column: 1/3;
    grid-row: 1/3;
  }
}
@media (max-width: 576px) {
  section#why_cleanfield .why-grid .one {
    flex-direction: column;
  }
}
section#why_cleanfield .why-grid .one p b {
  font-size: 108px;
  color: #fff;
}
@media (max-width: 576px) {
  section#why_cleanfield .why-grid .one p b {
    line-height: 0;
    margin-top: 30px;
    display: inline-block;
  }
}
@media (max-width: 430px) {
  section#why_cleanfield .why-grid .one p b {
    font-size: 80px;
  }
}
section#why_cleanfield .why-grid .one p {
  margin: 0;
  color: #fff;
  font-size: 25px;
  letter-spacing: 1px;
}
section#why_cleanfield .why-grid .two {
  grid-column: 4;
  grid-row: 1/4;
}
@media (max-width: 1435px) {
  section#why_cleanfield .why-grid .two {
    grid-column: 3;
    grid-row: 1/4;
  }
}
section#why_cleanfield .why-grid .two p {
  margin: 0;
  color: #fff;
  font-size: 25px;
  letter-spacing: 1px;
}
section#why_cleanfield .why-grid .two p:nth-child(2) {
  margin-top: -30px;
}
section#why_cleanfield .why-grid .two p b {
  margin-top: 0;
  font-size: 60px;
}
section#why_cleanfield .why-grid .three {
  grid-column: 1;
  grid-row: 3/7;
  text-align: center;
}
@media (max-width: 1435px) {
  section#why_cleanfield .why-grid .three {
    grid-column: 1;
    grid-row: 3/7;
  }
}
section#why_cleanfield .why-grid .three p {
  margin: 0;
  color: #fff;
  font-size: 25px;
  letter-spacing: 1px;
  text-align: left;
}
@media (max-width: 430px) {
  section#why_cleanfield .why-grid .three p {
    text-align: center;
  }
}
section#why_cleanfield .why-grid .three p b {
  margin-top: 0;
  font-size: 60px;
}
section#why_cleanfield .why-grid .four {
  grid-column: 2;
  grid-row: 3/7;
  text-align: center;
}
@media (max-width: 1435px) {
  section#why_cleanfield .why-grid .four {
    grid-column: 2;
    grid-row: 3/7;
  }
}
section#why_cleanfield .why-grid .four img {
  width: 90%;
}
section#why_cleanfield .why-grid .four p {
  margin: 0;
  color: #fff;
  font-size: 25px;
  letter-spacing: 1px;
  text-align: left;
}
@media (max-width: 430px) {
  section#why_cleanfield .why-grid .four p {
    text-align: center;
  }
}
section#why_cleanfield .why-grid .four p b {
  margin-top: 0;
  font-size: 60px;
}
section#why_cleanfield .why-grid .five {
  grid-column: 4;
  grid-row: 4/7;
  text-align: center;
}
@media (max-width: 1435px) {
  section#why_cleanfield .why-grid .five {
    grid-column: 3;
    grid-row: 4/7;
  }
}
section#why_cleanfield .why-grid .five p {
  margin: 0;
  color: #fff;
  font-size: 25px;
  letter-spacing: 1px;
  text-align: left;
}
@media (max-width: 430px) {
  section#why_cleanfield .why-grid .five p {
    text-align: center;
  }
}
section#why_cleanfield .why-grid .five p b {
  margin-top: 0;
  font-size: 60px;
}
section#why_cleanfield .why-grid .six {
  grid-column: 3;
  grid-row: 1/7;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1435px) {
  section#why_cleanfield .why-grid .six {
    grid-column: 1/4;
    grid-row: 7/9;
    flex-direction: row;
  }
}
@media (max-width: 756px) {
  section#why_cleanfield .why-grid .six {
    flex-direction: column;
  }
  section#why_cleanfield .why-grid .six br {
    display: none;
  }
}
section#why_cleanfield .why-grid .six p {
  margin: 0;
  color: #fff;
  font-size: 25px;
}
section#why_cleanfield .why-grid .six p:nth-child(2) {
  line-height: 1;
}
section#why_cleanfield .why-grid .six p b {
  margin-top: 0;
  font-size: 60px;
}
section#why_cleanfield .why-grid .six p b small {
  font-size: 18px;
  margin-left: -20px;
}

section#our-client .client-body {
  overflow: hidden;
}
section#our-client .client-body .prev {
  opacity: 1;
  background: #31c1f9;
  color: #fff;
  width: 70px;
  height: 70px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50px;
  transition: 0.8s;
}
section#our-client .client-body .prev:hover {
  background: rgb(216, 208, 195);
}
@media (max-width: 1050px) {
  section#our-client .client-body .prev {
    top: 25%;
    width: 60px;
    height: 60px;
  }
}
section#our-client .client-body .next {
  opacity: 1;
  background: #31c1f9;
  color: #fff;
  width: 70px;
  height: 70px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50px;
  transition: 0.8s;
}
section#our-client .client-body .next:hover {
  background: rgb(216, 208, 195);
}
@media (max-width: 1050px) {
  section#our-client .client-body .next {
    top: 25%;
    width: 60px;
    height: 60px;
  }
}
section#our-client .client-body .carousel-card {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  gap: 20px;
  background: #f9f9f9;
  border-radius: 30px;
  overflow: hidden;
}
@media (max-width: 1050px) {
  section#our-client .client-body .carousel-card {
    grid-template-columns: 1fr;
  }
}
section#our-client .client-body .carousel-card .carousel-img {
  border-radius: 30px;
  overflow: hidden;
}
section#our-client .client-body .carousel-card .carousel-img img {
  border-radius: 30px;
  transition: 0.5s;
}
section#our-client .client-body .carousel-card .carousel-img img:hover {
  transform: scale(1.2);
}
section#our-client .client-body .carousel-card .carousel-desc ul {
  padding: 0;
  font-size: 20px;
  margin: 0 auto;
}
@media (max-width: 1050px) {
  section#our-client .client-body .carousel-card .carousel-desc ul {
    padding: 40px 0;
    width: 600px;
  }
}
@media (max-width: 650px) {
  section#our-client .client-body .carousel-card .carousel-desc ul {
    padding: 40px 0;
    width: 100%;
  }
}
section#our-client .client-body .carousel-card .carousel-desc ul li {
  margin-top: 10px;
}

section#price .accordion-body ul {
  padding: 0;
}
section#price .accordion-body ul li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(211, 202, 202);
  padding: 5px 0;
}

section#reviews .container .r-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
@media (max-width: 1020px) {
  section#reviews .container .r-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-content: center;
  }
}
@media (max-width: 920px) {
  section#reviews .container .r-cards {
    grid-template-columns: 1fr;
    gap: 30px;
    justify-content: center;
  }
}
section#reviews .container .r-cards .r-column {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
section#reviews .container .r-cards .r-column .r-card {
  padding: 40px;
  background: #f8f8f8;
  border-radius: 20px;
  transition-duration: 1s;
  max-width: 490px;
  margin: 0 auto;
}
section#reviews .container .r-cards .r-column .r-card:hover {
  transform: scale(1.15, 1.15);
  box-shadow: 0 0 5px #ccc;
}
section#reviews .container .r-cards .r-column .r-card .r-card-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}
section#reviews .container .r-cards .r-column .r-card .r-card-desc {
  font-size: 20px;
  line-height: 150%;
}

section#leave-form .l-f-header {
  display: flex;
  justify-content: space-between;
  z-index: 7;
}
@media (max-width: 1030px) {
  section#leave-form .l-f-header img {
    width: 200px;
  }
}
@media (max-width: 860px) {
  section#leave-form .l-f-header img {
    width: 150px;
  }
}
@media (max-width: 675px) {
  section#leave-form .l-f-header img {
    display: none;
  }
}
section#leave-form .l-f-header .l-f-title {
  text-align: center;
}
section#leave-form .l-f-header .l-f-title h3 {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 30px;
}
@media (max-width: 860px) {
  section#leave-form .l-f-header .l-f-title h3 {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
section#leave-form .l-f-header .l-f-title p {
  font-size: 20px;
}
@media (max-width: 860px) {
  section#leave-form .l-f-header .l-f-title p {
    font-size: 18px;
  }
}
section#leave-form .l-f-body {
  position: relative;
  background: #31c1f9;
  padding: 80px 20px;
  border-radius: 30px;
  margin-top: -80px;
  z-index: 8;
}
@media (max-width: 860px) {
  section#leave-form .l-f-body {
    margin-top: -40px;
  }
}
@media (max-width: 675px) {
  section#leave-form .l-f-body {
    margin-top: 0;
    padding: 40px 20px;
  }
}
section#leave-form .l-f-body form .input-group {
  display: flex;
  justify-content: center;
  gap: 40px;
}
section#leave-form .l-f-body form .input-group .l-f-input-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  position: relative;
  transition: 0.2s ease all;
}
section#leave-form .l-f-body form .input-group .l-f-input-container .l-f-input {
  border-radius: 10px;
  padding: 29px 0 23px 28px;
  border: none;
  font-size: 24px;
  height: 100%;
  width: 400px;
  background-image: linear-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 100%);
}
@media (max-width: 576px) {
  section#leave-form .l-f-body form .input-group .l-f-input-container .l-f-input {
    width: 100%;
  }
}
section#leave-form .l-f-body form .input-group .l-f-input-container .l-f-input:focus-visible {
  border: none !important;
  border-color: #fff;
}
section#leave-form .l-f-body form .input-group .l-f-input-container .l-f-input:focus + .l-f-label {
  top: 14px;
}
section#leave-form .l-f-body form .input-group .l-f-input-container .l-f-label {
  padding-left: 11px;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  overflow: hidden;
  transition: 0.3s;
  font-size: 14px;
}
section#leave-form .l-f-body form .input-group .l-f-input-container .l-f-label span {
  padding-left: 20px;
  color: red;
}
section#leave-form .l-f-body form .input-group .l-f-input-container .required-message {
  display: none;
}
section#leave-form .l-f-body form .input-group .required {
  transform: translateY(-20px);
  position: relative;
}
section#leave-form .l-f-body form .input-group .required .l-f-input {
  background-color: rgba(242, 88, 48, 0.08);
  border-color: rgba(242, 88, 48, 0.25);
}
section#leave-form .l-f-body form .input-group .required .required-message {
  padding: 0;
  margin: 0;
  line-height: 120%;
  display: block;
  background: #f25830;
  position: absolute;
  top: 97%;
  left: 12px;
  padding: 0 10px;
  font-size: 14px;
  color: #fff;
}
@media (max-width: 576px) {
  section#leave-form .l-f-body form .input-group .required .required-message {
    font-size: 8px;
  }
}
section#leave-form .l-f-body form .input-group .required .required-message::after {
  content: "";
  display: block;
  height: 6px;
  width: 6px;
  box-sizing: border-box;
  border: 3px solid #f25830;
  border-top-color: transparent;
  border-right-color: transparent;
  position: absolute;
  left: 0;
  bottom: 100%;
}

section#biotexnologiya .b-clean-container {
  display: grid;
  grid-template-columns: 4fr 3fr;
  gap: 40px;
}
@media (max-width: 1300px) {
  section#biotexnologiya .b-clean-container {
    grid-template-columns: 1fr;
  }
}
section#biotexnologiya .b-clean-container .b-clean-left {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
@media (max-width: 1300px) {
  section#biotexnologiya .b-clean-container .b-clean-left {
    max-width: 80%;
  }
}
@media (max-width: 650px) {
  section#biotexnologiya .b-clean-container .b-clean-left {
    max-width: 100%;
  }
}
section#biotexnologiya .b-clean-container .b-clean-left p {
  position: absolute;
  width: 90%;
  right: 0;
  top: 500px;
  background: #31c1f9;
  color: #fff;
  position: absolute;
  border-radius: 20px 0 20px 20px;
  padding: 27px 38px 30px 30px;
  margin: 0;
}
section#biotexnologiya .b-clean-container .b-clean-left img {
  width: 100%;
}
section#biotexnologiya .b-clean-container .b-clean-right {
  margin: 0 auto;
}
@media (max-width: 1300px) {
  section#biotexnologiya .b-clean-container .b-clean-right {
    max-width: 80%;
  }
}
@media (max-width: 650px) {
  section#biotexnologiya .b-clean-container .b-clean-right {
    max-width: 100%;
  }
}
section#biotexnologiya .b-clean-container .b-clean-right h4 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: -10px;
}
section#biotexnologiya .b-clean-container .b-clean-right p {
  margin-bottom: 20px;
  margin-top: 0;
  font-size: 20px;
}
section#biotexnologiya .pluses_block h4 {
  text-align: center;
  margin: 60px auto;
  font-size: 24px;
  font-weight: 700;
}
section#biotexnologiya .pluses_block .pluses_list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
section#biotexnologiya .pluses_block .pluses_list .pluses_item {
  border: 1px solid rgba(49, 193, 249, 0.11);
  box-shadow: 1px 14px 29px rgba(49, 193, 249, 0.05);
  border-radius: 20px;
  max-width: 30%;
  min-width: 330px;
  display: flex;
  align-items: baseline;
  gap: 15px;
  padding: 30px;
  padding-left: 40px;
  cursor: pointer;
  background-color: #fff;
  transition-duration: 0.5s;
}
@media (max-width: 350px) {
  section#biotexnologiya .pluses_block .pluses_list .pluses_item {
    min-width: 100%;
  }
}
section#biotexnologiya .pluses_block .pluses_list .pluses_item:hover {
  transform: scale(1.1);
}
section#biotexnologiya .pluses_block .pluses_list .pluses_item .plus-description {
  margin: 0 0 10px;
  font-size: 20px;
}
section#biotexnologiya .pluses_block .pluses_list .pluses_item .plus {
  position: relative;
  text-align: center;
  display: grid;
  place-items: center;
  top: -15px;
  padding-right: 20px;
  margin-left: -10px;
}
section#biotexnologiya .pluses_block .pluses_list .pluses_item .plus .plus-gorizantal {
  width: 25px;
  height: 3px;
  background: #31c1f9;
  position: absolute;
  z-index: 99;
}
section#biotexnologiya .pluses_block .pluses_list .pluses_item .plus .plus-vertical {
  width: 3px;
  height: 25px;
  background: #31c1f9;
  position: absolute;
  z-index: 99;
}

section#kontakt .k-cards {
  display: flex;
  gap: 50px;
  justify-content: space-evenly;
  padding-top: 100px;
  flex-wrap: wrap;
}
@media (max-width: 850px) {
  section#kontakt .k-cards {
    gap: 100px;
  }
}
section#kontakt .k-cards .k-card {
  background: #f8f8f8;
  border-radius: 20px;
  text-align: center;
  margin: 20px 25px;
  padding: 20px;
  max-width: 30%;
  min-width: 330px;
}
@media (max-width: 1335px) {
  section#kontakt .k-cards .k-card {
    margin: 0 25px;
  }
}
section#kontakt .k-cards .k-card p, section#kontakt .k-cards .k-card a, section#kontakt .k-cards .k-card img {
  margin-top: -110px;
}
section#kontakt .k-cards .k-card img {
  width: 266px;
}
section#kontakt .k-cards .k-card p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
}
section#kontakt .k-cards .k-card a {
  color: #0275d8;
  transition: 0.8s;
}
section#kontakt .k-cards .k-card a:hover {
  color: #7ee000;
}
section#kontakt .k-cards .k-card .k-black {
  color: #000;
}
section#kontakt .k-cards .k-card .k-black:hover {
  color: #000;
}

section {
  margin: 100px 0 0 0;
}
@media (max-width: 400px) {
  section {
    margin: 60px 0 0 0;
  }
}

.fixid {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 9812390;
  width: 64px;
  height: 60px;
  background-image: url("https://cleanfield.ru/local/templates/salon-template/images/up.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.fixid a {
  width: 100%;
  height: 100%;
}