* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
      font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    background-color: #fff;
    overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
  &:hover{
    color: $secondaryColor;
  }
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
  max-height: 100%;
}

.container {
  width: 98%;
  max-width: 1350px;
  margin: 0 auto;
}

.title{
          text-align: center;
        font-size: 64px;
    line-height: 120%;
    // margin-bottom: 90px;
    font-weight: 700 !important;
}

.text{
  font-size: 20px;
  text-align: center;
}

.blue{
  color: $blue;
}
.green{
  color: $green;
}

.btn-container{
  text-align: center;

  .btn-green{
    background-color: #7ee000;
    border: 1px solid #7ee000;
    border-radius: 10px;
    padding: 32px 90px;
    font-weight: 700;
    font-size: 22px;
    line-height: 130%;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    &:hover{
          border-color: $white;
    background-color: rgba(127, 224, 0, 0.7);
    }
  }
}

.accordion{
            border-radius: 30px;
            overflow: hidden;
            .accordion-item{
                button.accordion-button{
                    padding: 28px 30px;
                    background: #f3f3f3;
                    font-size: 20px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                   &:focus{
                    box-shadow: none;
                   }
                    span.plus{
                        margin-right: 20px;
                        position: relative;
                        display: grid;
                        place-items: center;
                        .row{
                            position: absolute;
                            background: $blue;
                            width: 30px;
                            height: 4px;
                        } 
                        .col{
                            position: absolute;
                            background: $blue;
                            width: 30px;
                            height: 4px;
                            transform: rotate(90deg);
                        } 
                    }
                    
                    &:not(.collapsed){
                        background: $blue!important;
                        border: none!important;
                        color: $black;
                        span.plus{
                            .row{
                                z-index: 122;
                                background: $white;
                            }
                          .col{
                           display: none;
                        } 
                    }
                   
                    }
                    &::after{
                        all: unset;
                            
                    }
                }
                &:nth-child(even){
                    button.accordion-button{
                        padding: 28px 30px;
                        background: #f8f8f8;
                    }

                }
            }
            
        }